$color-white: #ffffff;
$color-grey-97: #f7f7f7;
$color-grey-40: #666666;
$color-black: #000000;

$color-red: #d93a38;
$color-dark-red: #a32b29;

$color-yellow: #e3cb49;
$color-dark-yellow: #b29a3d;

$color-dark-blue: #061524;
$color-blue: #1e67b3;

//body
$color-body-background1:  $color-dark-blue;
$color-body-background2:  $color-blue;
$color-font: $color-white;
$color-link: $color-white;
$color-link-hover: $color-white;

//gundam
$color-gundam-border: $color-black;
$color-gundam-black: $color-black;
$color-gundam-white: $color-white;
$color-gundam-white-shadow: $color-grey-97;
$color-gundam-red: $color-red;
$color-gundam-red-shadow: $color-dark-red;
$color-gundam-yellow: $color-yellow;
$color-gundam-yellow-shadow: $color-dark-yellow;
