.footer
  span © Ice Lam #{new Date().getFullYear()}・
  a(href="https://github.com/icelam/css3-gundam" target="_blank") Github
  br
  small
    a(href="https://www.behance.net/gallery/46455961/Gundam-RX-78") Credit to IDBR 1/8
